
/* Aside */

.Aside {
	position: relative;
	width: 100%;
}

/* Aside background */

.Aside-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/* Aside inner */

.Aside-inner {
	position: relative;
	z-index: 2;
	width: 100%;
	/*height: 50em;*/
}

/* TEMPORARY PLACED */

/* Aside transversal */

.Aside-transversal {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.Aside-transversal .Transversal-fill {
	width: 100%;
	height: 11em;
	background-color: #d81b60;
}

.Aside-transversal .Transversal-separator svg {
	/*background-image: url("../svg/bg-triangle-pink.svg");*/
	/*background-size: 100vw 35px;*/
	width: 100%;
	height: 25px;
}

.Aside-transversal #Separator-Bottom {
	fill: #d81b60;
}

/* Hero */

.Hero img {
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 8px #2c2c2c;
	-webkit-box-shadow: 2px 2px 8px #2c2c2c;
	box-shadow: 2px 2px 8px #2c2c2c;
}

@media (min-width: 48em) {

	/* Transversal fill */

	.Aside-transversal .Transversal-fill {
		height: 15em;
	}

	/* Hero */

	.Hero {
		max-width: 75%;
	}
}