
/* Brand */

.Brand {
	-webkit-align-items: center;
	align-items: center;
	color: #ffffff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin-bottom: 1.5em;
	padding-left: 1em;
}

@media (min-width: 48em) {

	.Brand {
		margin-bottom: 0;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	.Brand-title {
		padding-left: .5em;
	}

}