
/* Button */

.Button {
	background-color: transparent;
	border: none;
	border-radius: 2px;
	color: #2196f3;
	cursor: pointer;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 16em;
	height: 2.25em;
	padding: 0 1em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.Button:hover {
	background-color: #eeeeee;
}

.Button span {
	font-weight: 700;
	line-height: 1.36;
	font-size: 1.125em;
}

/* Button pink */

.Button--pink {
	background-color: #c2185b;
	border: solid 2px #c2185b;
	padding: .75em;
	border-radius: 4px;
}

.Button--pink:hover {
	background-color: #e91e63;
}