
/* Contact Form Field */

.ContactFormField {
	border: solid 1px #e91e63;
	border-radius: 3px;
	margin-bottom: 1.5em;
	max-width: 24em;
	overflow: hidden;
	padding: 1.5em 1em 1.5em;
	position: relative;
	text-align: left;
	-webkit-transition: border .3s, background .3s, padding .3s;
	-moz-transition: border .3s, background .3s, padding .3s;
	-ms-transition: border .3s, background .3s, padding .3s;
	-o-transition: border .3s, background .3s, padding .3s;
	transition: border .3s, background .3s, padding .3s;
	width: 100%;
}

.ContactFormField--double {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column-reverse;
	flex-flow: column-reverse;
	max-width: 24em;
	position: relative;
	width: 100%;
}

/* Contact Form message field (textarea) */

.ContactFormField--message {
	height: 6em;
}

/* Contact Form send button (submit) */
/* TEMPORARY STYLED */

/*.ContactFormField--submit {*/
	/*background-color: #9e9e9e !important;*/
	/*border-radius: .25em;*/
	/*margin-top: .5em;*/
	/*padding: .5em;*/
/*}*/

/* Contact Form Field input textarea */

.ContactFormField input,
.ContactFormField textarea {
	font-size: 1em;
	width: 100%;
	padding: 0 .275em;
}

/* Contact Form Field label */

.ContactFormField label {
	font-size: .875em;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	padding-top: .75em;
	top: 0;
	width: 100%;
}

/* Contact Form Field focused style */

.ContactFormField.is-valid {
	border-color: #80d8ff;
}

.ContactFormField.has-focus {
	border-color: #80d8ff;
}

/* Contact Form Field labeled style */

.ContactFormField.has-label {
	/*padding: 2.25em 1.5em .75em;*/
	padding: 2.25em 1em .75em;
}

/* Contact Form Field labeled label style */

.ContactFormField.has-label label {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

/* Contact Form Field empty style */

.ContactFormField.is-empty {
	background-color: #ffebee; /*red-50*/
	border-color: #d50000;
}

@media (min-width: 48em) {

	/* Contact Form Field */

	.ContactFormField {
		max-width: 33em;
	}

	/* Contact Form Field double */

	.ContactFormField--double {
		-webkit-flex-flow: row;
		flex-flow: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		max-width: 33em;
	}

	/* Contact Form Field split */

	.ContactFormField--split {
		max-width: 16em;
	}

}