
/* Footer Slogan */

.FooterSlogan {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.FooterSlogan-logo {
	margin-bottom: .75em;
}

.FooterSlogan-text {
	font-size: .875em;
	text-transform: uppercase;
}