
/* Header */

.Header {
	position: relative;
	width: 100%;
	margin-bottom: 3em;
}

/* Header background */

.Header-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/* Header inner */

.Header-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	width: 100%;
}

.Header-inner.container {
	max-width: none;
}

.Header-brand,
.Header-nav {
	flex: 1;
}

@media (min-width: 48em) {

	.Header-inner {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.Header-inner.container {
		padding: 0 1em;
	}

}

@media (min-width: 60em) {

	/* Header */

	.Header {
		margin-bottom: 2.25em;
	}

	.Header-inner {
		-webkit-flex-flow: row;
		flex-flow: row;
	}

}

@media (min-width: 72em) {

	/* Header */

	.Header {
		margin-bottom: 3em;
	}

	.Header-inner.container {
		padding: 0 6em;
	}

}