
/* Nav Item */

.NavItem {
	position: relative;
	margin: 0 0 1em; /* margin bottom */
	height: 4.5em;
}

.NavItem-select-area {
	-webkit-align-items: center;
	align-items: center;
	border-color: #ffffff;
	border-radius: 6px;
	border-style: solid;
	border-width: 3px;
	color: #ffffff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	padding: .875em 1.125em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.NavItem--main .NavItem-select-area,
.NavItem:hover .NavItem-select-area,
.NavItem-select-area:hover {
	background-color: #ffffff;
	color: #c2185b;
}

.NavItem:hover .NavItem-select-area,
.NavItem-select-area:hover {
	-webkit-box-shadow: 0 0 0 3px #ffffff;
	-moz-box-shadow: 0 0 0 3px #ffffff;
	box-shadow: 0 0 0 3px #ffffff;
}

.NavItem-select-area > span {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 1.3125em;
	font-weight: 600;
}

.NavItem-icon {
	-webkit-align-items: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 50%;
	color: #c2185b;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 2.25em;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	width: 2.25em;
}

.NavItem-select-area span + .NavItem-icon {
	margin-left: 1em;
}

.NavItem--main .NavItem-icon {
	background-color: #c2185b;
	color: #ffffff;
}

.NavItem:hover .NavItem-icon,
.NavItem-select-area:hover .NavItem-icon {
	background-color: #c2185b;
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	color: #ffffff;
}

.NavItem--main:hover .NavItem-icon,
.NavItem--main .NavItem-select-area:hover .NavItem-icon {
	background-color: #c2185b;
}

.NavItem-icon span {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 1.5em;
}

.NavItem--phone .NavItem-icon span {
	font-size: 1.3125em;
}

@media (min-width: 72em) {

	/* Nav Item */

	.NavItem {
		margin: 0 1em 0 0; /* margin right */
	}

	.NavItem:last-of-type {
		margin: 0;
	}

}