

/* Nav */

.Nav {
	position: relative;
	width: 100%;
}

/* Nav inner */

.Nav-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column;
	flex-flow: column;
	width: 100%;
}

@media (min-width: 48em) {

	/* Nav inner */

	.Nav-inner {
		-webkit-flex-flow: row;
		flex-flow: row;
	}

}

@media (min-width: 60em) {

	/* Nav inner */

	.Nav-inner {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}

}