
/* Paragraph */

.Paragraph {
	margin: 0 auto;
	width: 96%;
}

.Paragraph h2 {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: .5em;
}

.Paragraph h3 {
	font-size: 2.25em;
	font-weight: 700;
	margin-bottom: .5em;
}

.Paragraph p {
	font-size: 1.125em;
	font-weight: 300;
	margin-bottom: 1em;
}

@media (min-width: 60em) {

	.Paragraph {
		width: 50%;
	}

	.Paragraph h2 {
		font-size: 3.75em;
	}

	.Paragraph h3 {
		font-size: 3em;
	}

	.Paragraph p {
		font-size: 1.3125em;
		font-weight: 300;
		margin-bottom: 1.5em;
	}

}