
/* HealthPlans popover */

.Popover.HealthPlans-popover .HealthPlans-list--header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.HealthPlans-list--header .HealthPlansItemFigure {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding: 1.5em;
}

.HealthPlans-list--header .HealthPlansItemFigure-img {
	display: inline-block;
	height: 3em;
}

.HealthPlans-list--header .HealthPlansItemFigure-caption {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-left: 1em;
}