
/* Staff */

.Staff {
	padding: 1em 0;
	position: relative;
	text-align: center;
}

/* Staff background */

.Staff-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Staff inner */

.Staff-inner {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}

/* Staff header */

.Staff-header {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: .5em;
}

/* Staff list */

.Staff-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: baseline;
	align-items: baseline;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column;
	flex-flow: column;
}

@media (min-width: 48em) {

}

@media (min-width: 60em) {

	/* Staff list */
	/*three columns*/
	/*.Staff-list {*/
		/*-webkit-justify-content: space-between;*/
		/*justify-content: space-between;*/
	/*}*/

}

@media (min-width: 72em) {

}

@media (min-width: 96em) {

}