
/* Staff */

.Staff {
	padding: 3em 0;
	position: relative;
	text-align: center;
}

/* Staff img */

.Staff img {
	display: block;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	box-shadow: 2px 2px 8px rgba(0,0,0,.3);
}

.Staff-figure {
	width: 100%;
}

/* Staff background */

.Staff-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Staff inner */

.Staff-inner {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}

/* Staff header */

.Staff-header {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: .5em;
}

/* Staff list */

.Staff-list {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}

@media (min-width: 48em) {

}

@media (min-width: 60em) {

	/* Staff list */
	/*three columns*/
	/*.Staff-list {*/
		/*-webkit-justify-content: space-between;*/
		/*justify-content: space-between;*/
	/*}*/

}

@media (min-width: 72em) {

	/* Staff */

	.Staff {
		padding: 6em 0;
	}

}

@media (min-width: 96em) {

	/* Staff */

	.Staff {
		padding: 6em 0;
	}


}