
/* Treatments */

.Treatments {
	padding: 3em 0;
	position: relative;
	text-align: center;
}

/* Treatments background */

.Treatments-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Treatments header */

.Treatments-header {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 1.5em;
}

/* Treatments inner */

.Treatments-inner {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
	width: 100%;
}

@media (min-width: 48em) {

	/* Treatments */

	.Treatments {
		padding: 4.5em 0;
	}

	/* Treatments header */

	.Treatments-header {
		margin-bottom: 2.25em;
	}

}

@media (min-width: 60em) {

	/* Treatments inner */

	.Treatments-inner {
		-webkit-justify-content: center;
		justify-content: center;
	}

}

@media (min-width: 72em) {

	/* Treatments */

	.Treatments {
		padding: 6em 0;
	}

	/* Treatments header */

	.Treatments-header {
		margin-bottom: 2.25em;
	}

}

@media (min-width: 96em) {

	/* Treatments */

	.Treatments {
		padding: 6em 0;
	}

	/* Treatments header */

	.Treatments-header {
		margin-bottom: 3em;
	}

}